{% extends 'index.html' %}
{% load static %}
{% block titre %}<title>About | Currency Converter</title>{% endblock %}
	
	{% block banner %}
	<!-- Page top Section end -->
	<section class="page-top-section set-bg" data-setbg=" {% static 'img/page-top-bg/1.jpg' %} ">
		<div class="container">
			<h2>Comment ça marche</h2>
			<nav class="site-breadcrumb">
				<a class="sb-item" href="#">Accueil</a>
				<span class="sb-item active">Comment ça marche</span>
			</nav>
		</div>
	</section>
	<!-- Page top Section end -->
	{% endblock banner %}

	{% block content %}
	<!-- About Section end -->
	<section class="about-section spad">
		<div class="container">
				<div class="col-lg">
					<div class="about-text">
						<h2>Comment ça marche</h2>
						<p>SERVICE DE TRANSFERT D'ARGENT SIMPLE, SÉCURISÉ, FAIBLE COÛT ET RAPIDE!
							<br>
						Lorsque vous devez envoyer de l'argent à votre famille et à vos amis, INSTANT TRANSFER EST VOTRE PARTENAIRE DE PREMIER CHOIX. Notre système fournit un service rapide et fiable pour les envois de fonds et les transferts d'argent. INSTANT TRANSFER permet une plate-forme de transfert de fonds utilisateur unique, simple et conviviale en trois séquences. 
						<br>
						Suivez ces trois étapes simples :
						<br>
						<strong>1. Convertisseur de monnaie :</strong><br>
						Sur « Accueil », une page vous sera présentée avec sur le côté droit, un convertisseur de monnaie. Veuillez d’abord choisir entre l’option « je veux envoyer » et « Qu’il/elle reçoive » selon le montant à envoyer ou à percevoir ; Et cet outil vous aidera à connaître les détails de votre transaction. Vous pouvez saisir le montant que vous souhaitez transférer frais inclus, et lorsque vous saisissez la devise de votre correspondant, vous vous rendez compte de la faiblesse de nos frais et du montant à percevoir ! Notre principale devise est le Dollar Canadien, à convertir dans la devise du destinataire (BIF).
						<br>

						<strong>2. Connectez-vous à votre banque en ligne :</strong><br>
						En utilisant les identifiants de votre banque en ligne, envoyer votre somme par INTERAC sur l’adresse « <a href="mailto:instanttransfer257@gmail.com">instanttransfer257@gmail.com</a>». 
						C'EST AUSSI FACILE QUE ÇA !
						<br>

						<strong>3. Envoyer du formulaire de demande d’argent :</strong><br>
						Après votre transaction, veuillez passer à l’étape suivante qui consiste à fournir les informations de l’Expéditeur et celles du destinataire, ainsi de nous proposer le moyen de livraison.
						Il existe trois sections principales : les détails de l'expéditeur, les détails du destinataire et les détails de la transaction. Lorsque vous décidez d'envoyer le formulaire de demande, un accuse de réception sous forme de notification vous sera présenté juste en dessous de la barre de recherche.
						Cela nous aide à collecter les informations obligatoires afin de contacter de contacter le destinataire pour les services de remise d'argent. 
						<br>

						<strong>VOUS POUVEZ AVOIR DES QUESTIONS, NOTRE ÉQUIPE D'ASSISTANCE EST TOUJOURS DISPONIBLE POUR VOUS.
						N'HÉSITEZ PAS À NOUS CONTACTER!</strong></p>
					</div>
				</div>
	</section>
	<!-- About Section end -->


{% endblock content %}
	
{%  block why_us %}
{% endblock %}

{% block find_more %}
{% endblock %}