{% extends 'index.html' %}
{% load static %}
{% block titre %}<title>Contact | Currency Converter</title>{% endblock %}

{% block banner %}
<div class="section inner_page_banner" style="background-image:url({% static 'new/images/home.png' %})">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner_title">
                    <h3>Contact</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block left_side %}
    <div class="col-md-6 layout_padding">
        <div class="full paddding_left_15">
            <div class="heading_main text_align_left">
               <h2><span class="theme_color">Contact</span></h2>    
            </div>
        </div>
        <div class="full paddding_left_15">
              <form method="post" enctype="multipart/form-data" action="." class="form-signin" id="form">
                      {% csrf_token %}
                       <p>{{ form2.as_p }}</p>
                      <button class="btn btn-lg btn-outline-warning btn-block text-uppercase theme_color" name="send" type="submit">Send</button>
              </form>
            </div>
    </div>
    {% endblock %}

{% block convert %}

      <div class="col-md-6 layout_padding mt-0" style="background: #2a2a2a;">
          <div class="full paddding_left_15">
              <div class="heading_main text_align_left">
              {% if not convert %}
                <h2><span class="theme_color" >Input : <span id="demo"></span></h2>
              {% endif %}

              {% if convert %}
                <button class="btn btn-lg btn-outline-light btn-block " name="submit" type="submit">Output : {{ amount }} {{ currency_from }} = {{ converted_amount }} {{ currency_to }}</button>
              {% endif %}
              </div>
          </div>
          <div class="full paddding_left_15">
              <form method="post" enctype="multipart/form-data" action="." class="form-signin" id="form">
                      {% csrf_token %}
                      <label>Country From</label>
                       <p>{{ form.country_from }}</p>
                       <label>Country To</label>
                       <p>{{ form.country_to }}</p>
                       <p>{{ form.amount }}</p>
                      <button class="btn btn-lg btn-outline-warning btn-block text-uppercase theme_color" name="submit" type="submit">Convert</button>
              </form>
            </div>
        </div>
  
<script type="text/javascript">
  function myFunction() {
    var x = document.getElementById("amount").value;
    document.getElementById("demo").innerHTML = x;
  }
</script>
</script>

{% endblock %}
 