{% extends 'index.html' %}
{% load static %}

{% block banner %}
<!-- Page top Section end -->
    <section class="page-top-section set-bg" data-setbg=" {% static 'img/page-top-bg/1.jpg' %} ">
        <div class="container">
            <h2>Forms</h2>
            <nav class="site-breadcrumb">
                <a class="sb-item" href="#">Home</a>
                <span class="sb-item active">Forms</span>
            </nav>
        </div>
    </section>
    <!-- Page top Section end -->
{% endblock %}

{% block content %}
{% if form %}
    <section class="form-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                      <h4 class="card-title text-center">Set Curency</h4>
                        <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                            <fieldset>
                              {% csrf_token %}
                               {{ form.as_p }}
                                <button class="btn btn-lg btn-outline-warning theme_color btn-block text-uppercase" type="submit">Set</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% if form2 %}
    <section class="form-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                      <h4 class="card-title text-center">Set Curency</h4>
                        <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                            <fieldset>
                              {% csrf_token %}
                               {{ form2.as_p }}
                                <button class="btn btn-lg btn-outline-warning theme_color btn-block text-uppercase" type="submit">Set</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}


{% if connexion_form %}
    <section class="form-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                       <h4 class="card-title text-center">Connexion</h4>
                        <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                            <fieldset>
                              {% csrf_token %}
                              {{ connexion_form.as_p }}
                              <button class="btn btn-lg btn-outline-warning theme_color btn-block text-uppercase" type="submit">Connexion</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}


{% if register_form %}
    <section class="form-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                       <h4 class="card-title text-center">Register</h4>
                        <form  class="form-control" action="{% url 'register' %}"  method="post" enctype="multipart/form-data">
                          <fieldset>
                            {% csrf_token %}
                            {{ register_form.as_p }}
                            <button class="btn btn-lg btn-outline-warning theme_color btn-block text-uppercase" type="submit">Register</button>
                          </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% endblock %}

{%  block why_us %}     
{% endblock %}

{% block find_more %}
{% endblock %}