{% extends 'index.html' %}
{% block content %}
{% if form %}
    <div class="section contact_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                      <h4 class="card-title text-center">Set Curency</h4>
                        <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                            <fieldset>
                              {% csrf_token %}
                               {{ form.as_p }}
                                <button class="btn btn-lg btn-outline-warning theme_color btn-block text-uppercase" type="submit">Set</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if form2 %}
    <div class="section contact_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                      <h4 class="card-title text-center">Set Curency</h4>
                        <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                            <fieldset>
                              {% csrf_token %}
                               {{ form2.as_p }}
                                <button class="btn btn-lg btn-outline-warning theme_color btn-block text-uppercase" type="submit">Set</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if connexion_form %}
    <div class="section contact_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                       <h4 class="card-title text-center">Connexion</h4>
                        <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                            <fieldset>
                              {% csrf_token %}
                              {{ connexion_form.as_p }}
                              <button class="btn btn-lg btn-outline-warning theme_color btn-block text-uppercase" type="submit">Connexion</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if register_form %}
    <div class="section contact_form ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                       <h4 class="card-title text-center">Register</h4>
                        <form  class="form-control" action="{% url 'register' %}"  method="post" enctype="multipart/form-data">
                          <fieldset>
                            {% csrf_token %}
                            {{ register_form.as_p }}
                            <button class="btn btn-lg btn-outline-warning theme_color btn-block text-uppercase" type="submit">Register</button>
                          </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}