{% extends 'index.html' %}

{% block content %}
		
<div class="container-fluid" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-4 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
               <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Currency Converter</h5>
              <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                {% csrf_token %}
                 {{ convert_form.as_p }}
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Convert</button>
                <button type="submit" class="btn btn-lg btn-outline-success btn-block text-uppercase" name="switch" value="switch">
            Switch
          </button>
              </form>
            </div>
          </div>
        </div>

        

        <div class="col-md-2 card bg-light my-5">
          <div class="card-body text-center mt-5 pt-5">
            <p class="card-text" > Your Amount : </p>
            <p class="card-text"> {{ converted_amount }} : Fbu </p>
          </div>
        </div>

      </div>
    </div>
   
  </div>

{% endblock %}
 