{% extends 'index.html' %}

{% block convert %}
      
      <div class="col-md-6 layout_padding mt-0" style="background: #2a2a2a;">
          <div class="full paddding_left_15">
              <div class="heading_main text_align_left">
              {% if not convert %}
                <h2><span class="theme_color" >Input : <span id="demo"></span></h2>
              {% endif %}

              {% if convert %}
               <button class="btn btn-lg btn-outline-light btn-block " name="submit" type="submit">Output : {{ amount }} {{ query_amount_to.country_from.country_currency }} = {{ converted_amount }} {{ query_amount_to.country_to.country_currency }}</button>
              {% endif %}
              </div>
          </div>
          <div class="full paddding_left_15">
              <form method="post" enctype="multipart/form-data" action="." class="form-signin" id="form">
                      {% csrf_token %}
                      <label>Country From</label>
                       <p>{{ convert_form.country_from }}</p>
                       <label>Country To</label>
                       <p>{{ convert_form.country_to }}</p>
                       <p>{{ convert_form.amount }}</p>
                      <button class="btn btn-lg btn-outline-warning btn-block text-uppercase theme_color">Convert</button>
              </form>
            </div>
        </div>
  
<script type="text/javascript">
  function myFunction() {
    var x = document.getElementById("amount").value;
    document.getElementById("demo").innerHTML = x;
  }
</script>
</script>

{% endblock %}
 