{% extends 'index.html' %}
{% load static %}
{% block titre %}<title>Admin | Currency Converter</title>{% endblock %}

{% block banner %}
    <!-- Page top Section end -->
    <section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/4.jpg' %} ">
        <div class="container">
            <h2>Admin</h2>
            <nav class="site-breadcrumb">
                <a class="sb-item" href="#">Home</a>
                <span class="sb-item active">Admin</span>
            </nav>
        </div>
    </section>
    <!-- Page top Section end -->

{% endblock banner %}

{% block content %}

<section class="admin-section spad bg-secondary">
        <div class="container p-3 bg-white border">
                <div class="table-responsive">
                  <h2 class="sub-header mb-3">Demandes en cours</h2>
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                            <th >
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input checkAll">
                                    <label class="form-check-label">Id</label>
                                </div>
                            </th>
                            <th>Expediteur</th>
                            <th>Destinataire</th>
                            <th>A Recuperer</th>
                            <th>A Envoyer</th>
                            <th>Livraison</th>
                            <th>Actions</th>
                            <th>Details</th>
                        </tr>  
                      </thead>
                      <tbody>
        	                {% for tracking in trackings %}
                            <tr {% if tracking.amount_in != tracking.amount_in_recieve %}
                                class="bg-danger text-white" 
                            {% endif %}>
                                <td class="col-md-1">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">{{ tracking.id }}</label>
                                    </div>
                                </td>
                                <td >{{ tracking.senderFullName }}</td>
                                <td >{{ tracking.recieverFullName }}</td>
                                <td >
                                    {% if not tracking.amount_in_recieve %}
                                        {{ tracking.montantDepart }} : cl
                                    {% else %}
                                        {{ tracking.montantRecuAdmin }}
                                    {% endif %}
                                    
                                </td>
                                <td >
                                    {% if tracking.amount_out_deliver  %}
                                        {{ tracking.montantArriveAdmin }}
                                    {% else %}
                                        {{ tracking.montantArrive }} : cl
                                    {% endif %}
                                </td>
                                <td >
                                    {% if tracking.lumicash %}
                                        Lumicash : {{ tracking.lumicash }}
                                    {% endif %}
                                    {% if tracking.ecocash %}
                                        Ecocash : {{ tracking.ecocash }}
                                    {% endif %}

                                    {% if tracking.account_number %}
                                        Compte : {{ tracking.account_number }}
                                    {% endif %}

                                    {% if tracking.tel_livraison %}
                                        Livraison : {{ tracking.tel_livraison }}
                                    {% endif %}
                                </td>
                                <td >
                                    {% if  not tracking.validated1 %}
                                        <a href="{% url 'recu' tracking.id %}" class="btn btn-primary btn-sm">Valider recu</a>
                                        
                                    {% endif %}
                                    {% if tracking.validated1 and not tracking.validated2 %}
                                        <a href="{% url 'envoi' tracking.id %}" class="btn btn-primary btn-sm">Valider envoi</a>
                                    {% endif %}
                                    {% if tracking.validated1 and tracking.validated2 %}
                                        <div  class="btn btn-success btn-sm" >Déja Validé</div>
                                    {% endif %}
                                    </td>
                                <td >
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#pendingModal{{ tracking.id }}">
                                Voir
                              </button>
                                </td>
                            </tr>                                        
                                <div class="modal" id="pendingModal{{ tracking.id }}">
                                  <div class="modal-dialog ">
                                    <div class="modal-content">

                                      <!-- Modal Header -->
                                      <div class="modal-header">
                                        <h4 class="modal-title">Tranfert N°{{ tracking.id }}</h4>
                                         <span type="button" class="close" data-dismiss="modal" aria-label="Close">x</span>
                                      </div>

                                      <!-- Modal body -->
                                      <div class="modal-body">
                                         <div class="container">
                                            <div class="card">
                                                <div class="card-header">
                                                    Date
                                                    <strong>{{ tracking.date }}</strong> 
                                                    <span class="float-right"> <strong>Status:</strong>
                                                        {% if not tracking.validated1  or not tracking.validated2 %}
                                                            Non validé
                                                        {% endif %}
                                                        {% if  tracking.validated2 %}
                                                            Validé
                                                        {% endif %}
                                                     </span>

                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h6 class="mb-1">De la part de :</h6>
                                                            <div>
                                                                <strong>{{ tracking.senderFullName }}</strong>
                                                            </div>
                                                            <hr>
                                                            <div>Email : {{ tracking.email_sender }}</div>
                                                            <div>Tel : {{ tracking.phone_sender }}</div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <h6 >Vers : </h6>
                                                            <div>
                                                                <strong>{{ tracking.recieverFullName }}</strong>
                                                            </div>
                                                            <hr>
                                                            <div>Email : {{ tracking.email_reciever }}</div>
                                                            <div>Tel : {{ tracking.email_reciever }}</div>
                                                        </div>
                                                        
                                                </div>
                                            </div>
                                            <hr>
                                            <p>Montant envoyé client :......................... <strong>{{ tracking.montantDepart }}</strong></p>
                                            <p>Montant à rendre :......................... <strong>{{ tracking.montantArrive }}</strong></p>
                                            <hr>

                                            <p>Montant recu admin :......................... <strong>{{ tracking.montantRecuAdmin }}</strong></p>
                                            <p>Montant à rendre :......................... <strong>{{ tracking.montantArriveAdmin }}</strong></p>
                                            <hr>

                                            <p>Detail Transfert</p>
                                            {% if tracking.lumicash %}

                                                <p>Lumicash :......................... <strong>{{ tracking.lumicash }}</strong></p>
                                                <p>Nom lumicash :......................... <strong>{{ tracking.lumicash_holder }}</strong></p>

                                            {% endif %}
                                            {% if tracking.ecocash %}
                                                <p>Lumicash :......................... <strong>{{ tracking.ecocash }}</strong></p>
                                                <p>Nom ecocash :......................... <strong>{{ tracking.ecocash_holder }}</strong></p>
                                            {% endif %}

                                            {% if tracking.account_number %}
                                                <p>N° Compte :......................... <strong>{{ tracking.account_number }}</strong></p>
                                                <p>Nom Compte :......................... <strong>{{ tracking.account_holder }}</strong></p>
                                                <p>Nom Banque :......................... <strong>{{ tracking.bank_name }}</strong></p>
                                            {% endif %}

                                            {% if tracking.tel_livraison %}
                                                <p>Tel. Livraison :.........................<strong>{{ tracking.tel_livraison }}</strong></p>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                           {% endfor %} 
                      </tbody>
                    </table>
                  
                </div>
        </div>

</section>

{% endblock content %}

{%  block why_us %}
{% endblock %}

{% block find_more %}
{% endblock %}