{% extends 'index.html' %}
{% load static %}

{% block banner %}
    <div style="height:92px; border-bottom:1px solid black;">
        
    </div>
{% endblock %}

{% block content %}
    
    {% if choice %}

            <section class="ftco-section form-section" >
              <div class="container">
                <div class="row justify-content-center mb-5 pb-3">
                  <div class="col-md-7 heading-section ftco-animate text-center">
                      
                    <div class="card-body m-auto">
                        <h5 class="card-title text-center my-5">Cliquez pour choisir</h5>
                        <div class="row">
                    
                            <div class="col">
                                <p>
                                  <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#banques" aria-expanded="false" aria-controls="banques"><i class="fa fa-location-arrow"></i>Choisir une banque</button>
                                </p>
                            </div>
                            <div class="col ">
                                <a href="{% url "step1" %}" class="btn btn-primary btn-block ">Deja payer ? Etape suivante</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="collapse multi-collapse" id="banques">

                                    <div class="list-group">
                                        <center><p>Email : <strong>king@hogi.bi</strong> copier</p></center>
                                          <a href="https://www.rbcroyalbank.com/fr/" class="list-group-item list-group-item-action">
                                           Banque Royale du Canada (RBC)
                                          </a>
                                          <a href="https://www.cibc.com/fr/" class="list-group-item list-group-item-action">Banque Canadienne Impériale de Commerce (CIBC)</a>
                                          <a href="https://www.bmo.com/" class="list-group-item list-group-item-action">Banque de Montréal (BMO)</a>

                                          <a href="https://www.bnc.ca/" class="list-group-item list-group-item-action">Banque nationale du Canada (BNC)</a>

                                          <a href="https://www.banquelaurentienne.ca/fr/" class="list-group-item list-group-item-action">Banque Laurentienne du Canada (BLC)</a>

                                          <a href="https://www.td.com" class="list-group-item list-group-item-action">banque toronto-dominion (TD)</a>

                                          <a href="https://www.desjardins.com/" class="list-group-item list-group-item-action">banque des jardins canada</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>

                  </div>
                </div>
              </div>
          </section>

    {% endif %}

    {% if step_form1 %}

        <div class="container-fluid bg-secondary" >
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                  <div class="card-img-left d-none d-md-flex">
                     <!-- Background image for card set in CSS! -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-center">Etap1 : Vos Informations</h5>
                    <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                      {% csrf_token %}
                      {{ step_form1.as_p }}
                      <input class="btn btn-lg btn-primary right"  value="Next" type="submit">
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    {% endif %}

    {% if step_form2 %}
    
        <div class="container-fluid bg-secondary" >
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                  <div class="card-body">
                    <h5 class="card-title text-center">Etape 2 : Information destinataire</h5>
                    <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                      {% csrf_token %}
                      {{ step_form2.as_p }}
                      <button class="btn btn-lg btn-primary " type="submit">Next</button>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    {% endif %}

    {% if choice2 %}

        <div class="container-fluid bg-secondary" >
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                  <div class="card-img-left d-none d-md-flex">
                     <!-- Background image for card set in CSS! -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-center">Etap3 : Moyens de livraison</h5>
                    <div class=" py-5 px-1 border">
                      <center id="damForm">
                          <div class="form-check-inline">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ecocashModal">
                                EcoCash
                              </button>
                          </div>
                          <div class="form-check-inline">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lumicashModal">
                                LumiCash
                              </button>
                          </div>
                          <br>
                          <br>
                          <div class="form-check-inline">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#livraisonModal">
                                Livraison
                              </button>
                          </div>
                          <div class="form-check-inline">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#compteModal">
                                Compte
                              </button>
                          </div>
                        </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--ECOCASH MODAL-->

        <div class="modal" id="ecocashModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">ECOCASH</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                  <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                      <div class="form-group">
                        <label for="eco">Numero Ecocash:</label>
                        <input type="number" class="form-control" placeholder="Numero EcoCash" id="eco">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form> 
              </div>


            </div>
          </div>
        </div>

        <!-- END ECOCASH MODAL -->

        <!-- MODAL LUMICASH -->
          <div class="modal" id="lumicashModal">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">LUMICASH</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                        <div class="form-group">
                          <label for="eco">Numero Lumicash:</label>
                          <input type="number" class="form-control" placeholder="Numero EcoCash" id="eco">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form> 
                </div>


              </div>
            </div>
          </div>
        <!-- END MODAL LUMICASH -->

        <!-- MODAL LIVRAISON -->
          <div class="modal" id="livraisonModal">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Livraison</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                        <div class="form-group">
                          <label for="num">Whatsapp/Tel :</label>
                          <input type="number" class="form-control" placeholder="Tel., Whatsapp" id="num">
                        </div>
                        <div class="form-group">
                          <label for="dest">Quartier, Zone, Commune</label>
                          <input type="text" class="form-control" placeholder="Destination" id="dest">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form> 
                </div>
              </div>
            </div>
          </div>
        <!-- END MODAL LIVRAISON -->

        <!-- MODAL COMPTE -->

          <div class="modal" id="compteModal">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Compte</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                          <div class="form-group">
                            <label for="num">Numero de compte :</label>
                            <input type="num" class="form-control" placeholder="Numero de compte" id="num">
                          </div>
                        <div class="form-group">
                          <label for="name">Nom complet du destianatire :</label>
                          <input type="text" class="form-control" placeholder="Tel., Whatsapp" id="num">
                        </div>
                        <div class="form-group">
                          <label for="dest">Nom de la banque :</label>
                          <input type="text" class="form-control" placeholder="Banque de depot" id="dest">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form> 
                </div>
              </div>
            </div>
          </div>

        <!-- END MODAL COMPTE -->

    {% endif %}

{% endblock %}

{%  block why_us %}
{% endblock %}

{% block find_more %}
{% endblock %}